*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
  position: relative;
}

.container{
  margin: 30px 150px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


ul{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.ul{
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list--first{
  color: black;
}
li{
  display: inline-block;
  list-style: none;
  list-style-type: none;
  
  
}
.list{
  margin-left: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  line-height: 19px;
}
a{
  text-decoration: none;
  color: #B8BECD;
  
}
.logo{
  height: 80px;
  width: 150px;
}
.btn--login{
  padding: 10px 36px;
  border: 1px solid #5F99D7;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #5F99D7;
  mix-blend-mode: normal;
  margin-right: 15px;
}
.btn--login:hover {
  border: 1px solid #5F99D7;
  background: #5F99D7;
  color: #FFFFFF;
}

.btn--register{
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  padding: 10px 36px;
  background: #5F99D7;
  border-radius: 8px;
}
.btn--register:hover {
  border: 1px solid #5F99D7;
  color: #5F99D7;
  background: #FFFFFF;
}
.section--1{
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: 550px 550px;
  margin-right: auto;
  background-position: right center;
  margin-right: 40px;
}
.section--1__select:hover{
  cursor: pointer;
}
.section--1__h1{
  font-family: Playfair Display;
  font-style: normal;
  margin-top: 80px;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  mix-blend-mode: normal;
}
.section--1__text{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-top: 60px;
  color: #202336;
}
.section--1__span{
  width: 32px;
  height: 2px;
  left: 191px;
  margin: 20px 0px 50px;
  background: #202336;
  border-radius: 4px;
}
.section--1__checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}
.section--1--checkbox__text{
  font-size: 20px;
  margin-left: 10px;
}
.section--1__select{
  width: 220px;
  height: 52px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #73768a;
  padding: 10px 20px;
  mix-blend-mode: normal;
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 50px;
  margin-right: 20px;
}
.section--1__btn{
  padding: 0px 60px;
  border: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  background: #5F99D7;
  border-radius: 8px;
  mix-blend-mode: normal;
}
.section--1__btn:hover{
  background: #FFFFFF;
  color: #5F99D7;
  border: 1px solid #5F99D7;
  cursor: pointer;
}

.register--content{
  width: 350px;
}

.register{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  
}
#contact {
  margin-top: 250px;
  color: #5F99D7;
}

.contact-title {
  display: block;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title>h2 {
  font-size: 30px;
  display: block;
  text-align: center;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
  text-align: center;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #202336;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #5F99D7;
  border-color: transparent;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: white;
  border: 1.5px #5F99D7 solid;
  color: #5F99D7;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  form {
    width: 100%;
  }
  
  .form-control {
    width: 100%;

  }
}

footer{
  background-color: white;
  margin-top: 80px;
  height: 200px;  
}
.footer__content{
  text-align: center;
  margin-bottom: auto;
}
li{
  text-align: center;
}
ul{
  margin-bottom: auto;
}
.footer__text{
  color: black;
  margin-bottom: auto;
  font-size: 20px;
}
.list--icon{
  color: black;
  font-size: 25px;
  margin-bottom: auto;
}
.section--2{
  transition: all 4s ease-in-out;
}
.section--2--heading{
  display: inline-block;
  margin-bottom: 100px;
  text-align: center;
  font-size: 45px;
}
.sightseeings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.card{
  position: relative;
  width: 250px;
  height: 330px;
  border-radius: 15px;
  background-size: cover;

}

.card--xorazm{
  background-image: url(./images/xorazm.jpg);
}
.card--buxoro{
  background-image: url(./images/buxoro.jpg);
}
.card--samarqand{
  background-image: url(./images/samarqand.jpg)
}
.card--qashqadaryo{
  background-image: url(./images/qashqadaryo.jpg);
}
.card_box{
  width: 120px;
  height: 40px;
  left: 0;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 0px 6px 0px 0px;
  background-position: left bottom;
  margin-bottom: auto;
  position: absolute;
}
.section--2{
  margin-top: 200px;
  margin-bottom: 200px;
  
}
.section--2--ViewAll>.fa-chevron-right{
  margin-left: 15px;
  color: #5F99D7;
  display: flex;
  margin-right: auto;
}
.section2__content{
  display: flex;
  margin-right: auto;
  justify-content: space-between;
}
.section--2--ViewAll{
  margin-right: auto;
  display: flex;
  color: #5F99D7;
  margin-right: 10px;
}
.section--2--ViewAll:hover{
  cursor: pointer;
}
.card__box--text{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.card--koreya:hover{
  cursor: pointer;
}
.modal{
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  position: fixed;
  top: 0%;
  left: 0%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;  
}

.open{
  display: flex;
  align-items: center;
  
}
.modal_content_text{
  position: absolute;
  margin-bottom: 50px;
  margin-top: 450px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
}
.modal--content{
  min-height: 600px;
  width: 800px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* display: flex;
  align-items: center; */
  position: relative;
  border-radius: 10px;
}
.modal_close{
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 35px;
}
.modal_content_img{
  height: 350px;
  width: 500px;
  margin-top: 60px;
  background-image: url(./images/samarqand.jpg);
  background-size: cover;
}
.learn__more{
  visibility: hidden;
  font-size: 22px;
  opacity: 1;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 50%;
  cursor: pointer;

}
.card:hover .learn__more {
  color: black;
  visibility: visible;
}

.section--3__heading{
  margin-bottom: 100px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
}
.feedback__content{
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-between;
  transition: all 4s ease-in-out;

}
.section--3__text{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: 250px;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
}
.section--3__img{
  border-radius: 15px;
}
.feedback--star{
  width: 20px;
  height: 20px;
}
.feedback__text__content{
  margin-top: 150px;
}
.name{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 80px;
}
.job{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
}
.feedback--star:hover{
  cursor: pointer;
}
.section--4__content{
  display: flex;
  justify-content: space-between;
}
.section--4_heading {
    margin-bottom: 100px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
}
.section--4__text{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    /* width: 62%; */
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
  }
  .left{
  margin-left: 150px;    
  }
  .right{
  margin-right: 150px;

}
.section--4__img {
  width: 300px;
  border-radius: 50%;
  height: 300px;
}
.participant__heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 26px;
}

.participant{
  display: flex;
  margin-bottom: 200px;
}
.section--4{
  margin-top: 200px;
}
.form{
  width: 225px;
  height: 52px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #202336;
  padding: 10px 20px;
  mix-blend-mode: normal;
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 50px;
  margin-right: 20px;
}
.section--5__register {
  margin-top: 10px;
}
.about__unitour{
  margin-top: 150px;
}
.section--5__content{
  background-image: url(./images/unitour.png);
  background-repeat: no-repeat;
  background-size: 550px 550px;
  margin-right: auto;
  background-position: right center;
  margin-left: 40px;
  min-height: 600px;
}
.section--5__h1{
  margin-top: 180px;
  font-size: 35px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--5__register {
    font-size: 24px;
    margin-right: 50px;
    width: 450px;
    margin-right: auto;
  }
  .lingua__select{
      color: black;
      padding: 2px 2px;
      margin-bottom: 50px;
      margin-right: 30px;
      margin-top: 20px;
      float: right;
    }